global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
    stats socket ipv4@127.0.0.1:9000 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

    # Performance tuning
    maxconn 50000
    spread-checks 5
    tune.ssl.default-dh-param 2048
    tune.http.maxhdr 100
    tune.bufsize 65536
    tune.comp.maxlevel 9

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    log global
    mode	http
    option httplog
    option dontlognull
    option http-server-close
    option forwardfor except 127.0.0.1
    option redispatch
    retries 3
    timeout client 30s
    timeout connect 5s
    timeout server 30s
    timeout http-request 10s
    timeout queue 30s
    timeout http-keep-alive 10s
    timeout check 5s
    maxconn 50000

resolvers local
    nameserver ns1 127.0.0.53:53
    nameserver ns2 192.168.1.1:53
    hold valid 5s
    resolve_retries 3
    timeout retry 1s
    timeout resolve 1s

frontend igw
    bind 127.0.0.1:8785
    mode http
    stats enable
    monitor-uri /api/health
    # stats uri /admin
    # stats auth admin:admin
    # stats refresh 5s
	default_backend DEFAULT
    option forwardfor
	use_backend %[str(active),map(/home/ubuntu/haproxy-hosts.map)]

backend blue
    mode http
    option http-keep-alive
    timeout http-keep-alive 10m
    timeout connect 10s
    balance roundrobin
    option httpchk GET /
    http-check expect status 404
    option redispatch
    retries 1000
    retry-on all-retryable-errors
    compression algo gzip
    compression type text/html text/plain text/css application/json application/javascript
    server blue 127.0.0.1:4000 check maxconn 10000 inter 2s fall 2 rise 2 slowstart 5000 resolvers local init-addr none

backend green
    mode http
    option http-keep-alive
    timeout http-keep-alive 10m
    timeout connect 10s
    balance roundrobin
    option httpchk GET /
    http-check expect status 404
    option redispatch
    retries 1000
    retry-on all-retryable-errors
    compression algo gzip
    compression type text/html text/plain text/css application/json application/javascript
    server green 127.0.0.1:5000 check maxconn 10000 inter 2s fall 2 rise 2 slowstart 5000 resolvers local init-addr none

backend DEFAULT
    http-request set-log-level silent
    http-request return status 404 content-type "text/html" string "Default backend"
